<!doctype html>
<html lang="en">

<head>
    <title>Vishwash Dhiman CV/Resume</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAV AND ICONS   -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/apple-icon.png">
    <link rel="shortcut icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="shortcut icon" sizes="114x114" href="/images/apple-icon-114x114.png">

    <!-- Google Font-->
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="/stylesheets/owl.css">

    <!-- Fancybox-->
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">

</head>

<body class="dark-vertion black-bg">
    <!-- Start Loader -->
    <div class="section-loader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Loader -->

    <!--
        ===================
           NAVIGATION
        ===================
        -->
    <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp" id="mh-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/project">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact Me</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>


    <!--
        ===================
           PRICING
        ===================
        -->
    <section class="mh-pricing" id="mh-pricing">
        <div class="">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Projects</h3>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.3s">
                            <i class="fa fa-university"></i>
                            <h4>College FeedBack System</h4>
                            <p>An Angular application built for the college Feedback Management. This
                                application allows the user to provide the feedback to the students
                                for there respective instructors.
                            </p>

                            <a href="https://github.com/VishwashDhiman/FeedbackSystem" class="btn btn-fill">Check on
                                GitHub</a>
                            <br />
                            <br />
                            <a href="https://sleepy-river-60659.herokuapp.com">View Demo</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.5s">
                            <i class="fa fa-instagram"></i>
                            <h4>Udagram</h4>
                            <p>This application is replica of Instagram built using Ionic as Frontend and JavaScript as
                                BackEnd. This application is a demo application to convert the monolithic to
                                micro-services.
                                The applicaiton is deployed on AWS and uses Kubernetes to deploy the micro-services
                                pods,
                                DockerHub to store the Docker images and AWS S3 o store the user uploaded images.

                            </p>

                            <a href="https://github.com/VishwashDhiman/github-profile-viewer" class="btn btn-fill">Check
                                on GitHub</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.5s">
                            <i class="fa fa-github"></i>
                            <h4>GitHub Profile Viewer</h4>
                            <p>A vanilla JavaScript application which allows to search the user details,
                                repositories and basic information from the user's GitHub profiles.
                            </p>

                            <a href="https://github.com/VishwashDhiman/github-profile-viewer" class="btn btn-fill">Check
                                on GitHub</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.7s">
                            <i class="fa fa-plane"></i>
                            <h4>Tour Trip</h4>
                            <p>A ReactJS application which allows the users to fetch the live flights, bus and train
                                data.
                                It allows the user to search for flights, buses and trains for specified arriving and
                                departure
                                dates.
                            </p>

                            <a href="https://github.com/VishwashDhiman/tourTrip" class="btn btn-fill">Check on
                                GitHub</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.7s">
                            <i class="fa fa-gamepad"></i>
                            <h4>American Football</h4>
                            <p>A simple android application which serves the purpose of calculating the score for teams.
                                It allows the user to increment or decrement the score using the buttons.
                            </p>
                            <a href="https://github.com/VishwashDhiman/AmericanFootball" class="btn btn-fill">Check on
                                GitHub</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.7s">
                            <i class="fa fa-hacker-news"></i>
                            <h4>The Hacker News</h4>
                            <p>A replica of the Hacker News application. This application is build using vanilla
                                JavaScript.
                                This application uses the Hacker News open source APIs to fetch the data based on the
                                users
                                input.
                            </p>
                            <a href="https://github.com/VishwashDhiman/TheHackerNews" class="btn btn-fill">Check on
                                GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ===================
        FOOTER 1
    ===================
    -->

    <footer class="mh-footer" id="mh-contact">
        <div class="row section-separator shadow-1 dark-bg " style="padding:30px;">
            <div class="col-md-2"></div>
            <div class="col-md-3 col-sm-12 center">
                <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                    <div class="img-border">
                        <img src="/images/VishwashDhiman.png" alt="" class="img-border-footer">
                    </div>
                    <h2>Vishwash Dhiman</h2>
                    <p>Keen to learn new things everyday</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 center space-footer wow fadeInUp">
                <h3>Explore</h3>
                <ul class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                    <li><a href="/about" class="footer-font">About Me</a></li>
                    <li><a href="/project" class="footer-font">Projects</a></li>
                    <li><a href="/contact" class="footer-font">Contact Me</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 center space-footer">

                <div class="mh-home">
                    <div class="home-ovimg">
                        <div class="vertical-middle-content">
                            <div class="mh-header-info remove-padding-top wow fadeInUp">
                                <h3>More About Me</h3>
                                <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                    <li><a href="https://github.com/VishwashDhiman"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/vishwash-dhiman-3b79a8145/"><i
                                                class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://en-gb.facebook.com/people/Vishwash-Dhiman/100009530899106/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/dhiman_vishwash"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul> --}}
            </div>
            <div class="col-md-1"></div>
        </div>
    </footer>
    <!--
    ==============
    * JS Files *
    ==============
    -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- popper -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="/javascripts/owl.carousel.js"></script>
    <!-- validator -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- wow -->
    <script src="/javascripts/wow.min.js"></script>
    <!-- mixin js-->
    <script src="/javascripts/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
    <script src="/javascripts/circle-progress.js"></script>
    <!-- jquery nav -->
    <script src="/javascripts/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="/javascripts/jquery.fancybox.min.js"></script>
    <!-- isotope js-->
    <script src="/javascripts/isotope.pkgd.js"></script>
    <script src="/javascripts/packery-mode.pkgd.js"></script>
    <!-- Custom Scripts-->
    <script src="/javascripts/custom-scripts.js"></script>

</body>

</html>